USE [master]
GO
CREATE DATABASE [ITMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ITMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ITMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITMS]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[enrollment_id] [int] NOT NULL,
	[attended] [bit] NOT NULL,
	[check_in_time] [datetime] NULL,
	[check_out_time] [datetime] NULL,
	[duration_minutes] [int] NULL,
	[completion_status] [nvarchar](20) NOT NULL,
	[completion_date] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
	[marked_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](100) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [int] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
	[error_message] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[certificate_code] [nvarchar](50) NOT NULL,
	[certificate_url] [nvarchar](500) NULL,
	[issue_date] [date] NOT NULL,
	[expiry_date] [date] NULL,
	[grade] [nvarchar](20) NULL,
	[issued_by] [int] NULL,
	[is_valid] [bit] NOT NULL,
	[revoked_at] [datetime] NULL,
	[revoked_by] [int] NULL,
	[revocation_reason] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[certificate_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Certificate_UserCourse] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](max) NULL,
	[prerequisites] [nvarchar](max) NULL,
	[duration_hours] [decimal](5, 2) NULL,
	[trainer_id] [int] NULL,
	[category] [nvarchar](50) NULL,
	[level] [nvarchar](20) NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[passing_score] [decimal](5, 2) NULL,
	[max_attempts] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseMaterial]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMaterial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[type] [nvarchar](20) NOT NULL,
	[file_url] [nvarchar](500) NULL,
	[file_size] [bigint] NULL,
	[display_order] [int] NOT NULL,
	[is_required] [bit] NOT NULL,
	[is_downloadable] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[module_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseModules]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseModules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[display_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[description] [nvarchar](500) NULL,
	[manager_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[session_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[approved_by] [int] NULL,
	[approval_date] [datetime] NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[cancellation_reason] [nvarchar](500) NULL,
	[registered_at] [datetime] NOT NULL,
	[completion_date] [datetime] NULL,
	[completion_rate] [decimal](5, 2) NULL,
	[final_score] [decimal](5, 2) NULL,
	[certificate_issued] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Enrollment_UserSession] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[enrollment_id] [int] NOT NULL,
	[session_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[course_rating] [int] NULL,
	[trainer_rating] [int] NULL,
	[content_rating] [int] NULL,
	[overall_rating] [int] NULL,
	[comments] [nvarchar](max) NULL,
	[suggestions] [nvarchar](max) NULL,
	[would_recommend] [bit] NULL,
	[submitted_at] [datetime] NOT NULL,
	[is_anonymous] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Feedback_EnrollmentSession] UNIQUE NONCLUSTERED 
(
	[enrollment_id] ASC,
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[reference_id] [int] NULL,
	[reference_type] [nvarchar](50) NULL,
	[priority] [nvarchar](20) NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime] NULL,
	[sent_date] [datetime] NOT NULL,
	[expires_at] [datetime] NULL,
	[detail_content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[quiz_type] [nvarchar](20) NOT NULL,
	[total_questions] [int] NOT NULL,
	[total_marks] [decimal](5, 2) NOT NULL,
	[passing_score] [decimal](5, 2) NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[max_attempts] [int] NOT NULL,
	[randomize_questions] [bit] NOT NULL,
	[show_correct_answers] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[due_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAnswer]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAnswer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[user_answer] [nvarchar](500) NULL,
	[is_correct] [bit] NULL,
	[marks_obtained] [decimal](5, 2) NULL,
	[answered_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_QuizAnswer_AttemptQuestion] UNIQUE NONCLUSTERED 
(
	[attempt_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAttempt]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[enrollment_id] [int] NULL,
	[attempt_number] [int] NOT NULL,
	[score] [decimal](5, 2) NULL,
	[total_marks] [decimal](5, 2) NULL,
	[obtained_marks] [decimal](5, 2) NULL,
	[passed] [bit] NOT NULL,
	[started_at] [datetime] NOT NULL,
	[submitted_at] [datetime] NULL,
	[time_taken_minutes] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestion]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[question_text] [nvarchar](max) NOT NULL,
	[question_type] [nvarchar](20) NOT NULL,
	[option_a] [nvarchar](500) NULL,
	[option_b] [nvarchar](500) NULL,
	[option_c] [nvarchar](500) NULL,
	[option_d] [nvarchar](500) NULL,
	[correct_answer] [nvarchar](500) NOT NULL,
	[marks] [decimal](5, 2) NOT NULL,
	[explanation] [nvarchar](max) NULL,
	[display_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[role_code] [nvarchar](20) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[session_name] [nvarchar](255) NOT NULL,
	[session_number] [int] NULL,
	[date] [date] NOT NULL,
	[time_start] [time](7) NOT NULL,
	[time_end] [time](7) NOT NULL,
	[location] [nvarchar](255) NULL,
	[location_type] [nvarchar](20) NOT NULL,
	[meeting_link] [nvarchar](500) NULL,
	[meeting_password] [nvarchar](100) NULL,
	[max_capacity] [int] NOT NULL,
	[current_enrolled] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[cancellation_reason] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[department_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[otp_enabled] [bit] NOT NULL,
	[otp_secret] [nvarchar](255) NULL,
	[last_login] [datetime] NULL,
	[failed_login_attempts] [int] NOT NULL,
	[locked_until] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 3/9/2026 1:16:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[assigned_at] [datetime] NOT NULL,
	[assigned_by] [int] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserRole_UserRole] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((0)) FOR [attended]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ('IN_PROGRESS') FOR [completion_status]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Certificate] ADD  DEFAULT (CONVERT([date],getdate())) FOR [issue_date]
GO
ALTER TABLE [dbo].[Certificate] ADD  DEFAULT ((1)) FOR [is_valid]
GO
ALTER TABLE [dbo].[Certificate] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((3)) FOR [max_attempts]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CourseMaterial] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[CourseMaterial] ADD  DEFAULT ((0)) FOR [is_required]
GO
ALTER TABLE [dbo].[CourseMaterial] ADD  DEFAULT ((1)) FOR [is_downloadable]
GO
ALTER TABLE [dbo].[CourseMaterial] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CourseModules] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[CourseModules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ('REGISTERED') FOR [status]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ((0)) FOR [certificate_issued]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((0)) FOR [is_anonymous]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('NORMAL') FOR [priority]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [sent_date]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ('ASSESSMENT') FOR [quiz_type]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((3)) FOR [max_attempts]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((0)) FOR [randomize_questions]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((1)) FOR [show_correct_answers]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[QuizAttempt] ADD  DEFAULT ((1)) FOR [attempt_number]
GO
ALTER TABLE [dbo].[QuizAttempt] ADD  DEFAULT ((0)) FOR [passed]
GO
ALTER TABLE [dbo].[QuizAttempt] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[QuizAttempt] ADD  DEFAULT ('IN_PROGRESS') FOR [status]
GO
ALTER TABLE [dbo].[QuizAttempt] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[QuizQuestion] ADD  DEFAULT ('MULTIPLE_CHOICE') FOR [question_type]
GO
ALTER TABLE [dbo].[QuizQuestion] ADD  DEFAULT ((1)) FOR [marks]
GO
ALTER TABLE [dbo].[QuizQuestion] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[QuizQuestion] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Session] ADD  DEFAULT ('OFFLINE') FOR [location_type]
GO
ALTER TABLE [dbo].[Session] ADD  DEFAULT ((0)) FOR [current_enrolled]
GO
ALTER TABLE [dbo].[Session] ADD  DEFAULT ('SCHEDULED') FOR [status]
GO
ALTER TABLE [dbo].[Session] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [otp_enabled]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Enrollment] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Enrollment]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_MarkedBy] FOREIGN KEY([marked_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_MarkedBy]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_User]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_Course]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_IssuedBy] FOREIGN KEY([issued_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_IssuedBy]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_RevokedBy] FOREIGN KEY([revoked_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_RevokedBy]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_User]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_CreatedBy]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Trainer] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[User] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Trainer]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_UpdatedBy]
GO
ALTER TABLE [dbo].[CourseMaterial]  WITH CHECK ADD  CONSTRAINT [FK_CourseMaterial_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseMaterial] CHECK CONSTRAINT [FK_CourseMaterial_Course]
GO
ALTER TABLE [dbo].[CourseMaterial]  WITH CHECK ADD  CONSTRAINT [FK_CourseMaterial_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[CourseMaterial] CHECK CONSTRAINT [FK_CourseMaterial_CreatedBy]
GO
ALTER TABLE [dbo].[CourseModules]  WITH CHECK ADD  CONSTRAINT [FK_CourseModule_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseModules] CHECK CONSTRAINT [FK_CourseModule_Course]
GO
ALTER TABLE [dbo].[CourseModules]  WITH CHECK ADD  CONSTRAINT [FK_CourseModule_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[CourseModules] CHECK CONSTRAINT [FK_CourseModule_CreatedBy]
GO
ALTER TABLE [dbo].[CourseModules]  WITH CHECK ADD  CONSTRAINT [FK_CourseModule_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[CourseModules] CHECK CONSTRAINT [FK_CourseModule_UpdatedBy]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Manager]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Approver] FOREIGN KEY([approved_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Approver]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Enrollment] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Enrollment]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Session] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Session]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Course]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_CreatedBy]
GO
ALTER TABLE [dbo].[QuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuizAnswer_Attempt] FOREIGN KEY([attempt_id])
REFERENCES [dbo].[QuizAttempt] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizAnswer] CHECK CONSTRAINT [FK_QuizAnswer_Attempt]
GO
ALTER TABLE [dbo].[QuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuizAnswer_Question] FOREIGN KEY([question_id])
REFERENCES [dbo].[QuizQuestion] ([id])
GO
ALTER TABLE [dbo].[QuizAnswer] CHECK CONSTRAINT [FK_QuizAnswer_Question]
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempt_Enrollment] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollment] ([id])
GO
ALTER TABLE [dbo].[QuizAttempt] CHECK CONSTRAINT [FK_QuizAttempt_Enrollment]
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempt_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizAttempt] CHECK CONSTRAINT [FK_QuizAttempt_Quiz]
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempt_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[QuizAttempt] CHECK CONSTRAINT [FK_QuizAttempt_User]
GO
ALTER TABLE [dbo].[QuizQuestion]  WITH CHECK ADD  CONSTRAINT [FK_QuizQuestion_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizQuestion] CHECK CONSTRAINT [FK_QuizQuestion_Quiz]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Course]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_CreatedBy]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_UpdatedBy]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Department]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_AssignedBy] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_AssignedBy]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([completion_status]='ABSENT' OR [completion_status]='FAILED' OR [completion_status]='COMPLETED' OR [completion_status]='IN_PROGRESS'))
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD CHECK  (([status]=NULL OR [status]='WARNING' OR [status]='FAILED' OR [status]='SUCCESS'))
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD CHECK  (([grade]='FAIL' OR [grade]='DISTINCTION' OR [grade]='MERIT' OR [grade]='PASS'))
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD CHECK  (([duration_hours]>(0)))
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD CHECK  (([level]='ADVANCED' OR [level]='INTERMEDIATE' OR [level]='BEGINNER'))
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD CHECK  (([passing_score]>=(0) AND [passing_score]<=(100)))
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD CHECK  (([status]='ARCHIVED' OR [status]='INACTIVE' OR [status]='ACTIVE' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[CourseMaterial]  WITH CHECK ADD CHECK  (([type]='OTHER' OR [type]='AUDIO' OR [type]='SLIDE' OR [type]='DOCUMENT' OR [type]='LINK' OR [type]='VIDEO' OR [type]='PDF'))
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD CHECK  (([completion_rate]>=(0) AND [completion_rate]<=(100)))
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD CHECK  (([final_score]>=(0) AND [final_score]<=(100)))
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD CHECK  (([status]='NO_SHOW' OR [status]='REJECTED' OR [status]='COMPLETED' OR [status]='CANCELLED' OR [status]='WAITLIST' OR [status]='APPROVED' OR [status]='REGISTERED'))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([content_rating]>=(1) AND [content_rating]<=(5)))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([course_rating]>=(1) AND [course_rating]<=(5)))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([overall_rating]>=(1) AND [overall_rating]<=(5)))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([trainer_rating]>=(1) AND [trainer_rating]<=(5)))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([priority]='URGENT' OR [priority]='HIGH' OR [priority]='NORMAL' OR [priority]='LOW'))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([reference_type]=NULL OR [reference_type]='CERTIFICATE' OR [reference_type]='QUIZ' OR [reference_type]='COURSE' OR [reference_type]='SESSION' OR [reference_type]='ENROLLMENT'))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([type]='SYSTEM' OR [type]='ANNOUNCEMENT' OR [type]='FEEDBACK' OR [type]='CERTIFICATE' OR [type]='QUIZ' OR [type]='COMPLETION' OR [type]='CANCELLATION' OR [type]='REMINDER' OR [type]='REJECTION' OR [type]='APPROVAL' OR [type]='ENROLLMENT'))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([duration_minutes]>(0)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([max_attempts]>(0)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([passing_score]>=(0) AND [passing_score]<=(100)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([quiz_type]='PRACTICE' OR [quiz_type]='ASSESSMENT' OR [quiz_type]='POST_TEST' OR [quiz_type]='PRE_TEST'))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([total_marks]>(0)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([total_questions]>(0)))
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD CHECK  (([score]>=(0) AND [score]<=(100)))
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD CHECK  (([status]='ABANDONED' OR [status]='GRADED' OR [status]='SUBMITTED' OR [status]='IN_PROGRESS'))
GO
ALTER TABLE [dbo].[QuizQuestion]  WITH CHECK ADD CHECK  (([marks]>(0)))
GO
ALTER TABLE [dbo].[QuizQuestion]  WITH CHECK ADD CHECK  (([question_type]='SHORT_ANSWER' OR [question_type]='TRUE_FALSE' OR [question_type]='MULTIPLE_CHOICE'))
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD CHECK  (([location_type]='HYBRID' OR [location_type]='OFFLINE' OR [location_type]='ONLINE'))
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD CHECK  (([max_capacity]>(0)))
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='ONGOING' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [CK_Session_Capacity] CHECK  (([current_enrolled]<=[max_capacity]))
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [CK_Session_Capacity]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [CK_Session_Time] CHECK  (([time_end]>[time_start]))
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [CK_Session_Time]
GO
USE [master]
GO
