spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 747302052218-f29rlqtgl1ls6mbhri4e0rkhq69p19d6.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
  mail:
    host: smtp.gmail.com
    port: 587
    username: tinvipthebest@gmail.com       # your email
    password: xcbn nilw gzxq qucd
    # use app password if using Gmail 2FA
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
          starttls.required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ITMS;encrypt=true;trustServerCertificate=true
    username: sa
    password: Tin10112003
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.SQLServerDialect
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: owPXWNGG5LYEu+8Xfyru7NtEU5uV7B6HbLux1/hTZgA=
  expirationMs: 86400000  # 24 hours in milliseconds
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG